---
const { beginDate, endDate } = Astro.props;
---
<astro-interval-reloader data-begindate={beginDate}  data-enddate={endDate}>
  <span class="step">
    <slot name="before"></slot>
  </span>
  <span class="step">
    <slot name="doing"></slot>
  </span>
  <span class="step">
    <slot name="after"></slot>
  </span>
</astro-interval-reloader>

<script>
  // Create your custom class for catching the parameter
  class IntervalReloader extends HTMLElement {
    constructor() {
      super();
      const beginDate = this.dataset.begindate ? Number.parseInt(this.dataset.begindate, 10) : 0;
      const endDate = this.dataset.enddate ? Number.parseInt(this.dataset.enddate, 10) : undefined;

      const elements: HTMLElement[] = [... this.childNodes].filter((child) => child.classList.contains('step'));

      if (beginDate) {
        this.computeVisibility(beginDate, endDate, elements);
        setInterval(() => this.computeVisibility(beginDate, endDate, elements), 1000);
      }
    }
    computeVisibility(beginDate:number, endDate:number, elements: HTMLElement[]) {
      let now = new Date().getTime();
      let show;
      if (now < beginDate) {
        show = [true, false, false];
      } else if (endDate && endDate < now) {
        show = [false, true, false];
      } else {
        show = [false, false, true];
      }
      elements[0].hidden = !show[0];
      elements[1].hidden = !show[1];
      elements[2].hidden = !show[2];
    }
  }

  customElements.define('astro-interval-reloader', IntervalReloader);
</script>
