---
import edition from '../data/edition.json';
const lang = (Astro.locals as any).lang;

const [days, hours, minutes, seconds] = lang === 'fr'
  ? ['Jours', 'Heures', 'Minutes', 'Secondes']
  : ['Days', 'Hours', 'Minutes', 'Seconds'];

const startFormat = Intl.DateTimeFormat(lang, {
  month: 'long',
  day: 'numeric',
});
const endFormat = Intl.DateTimeFormat(lang, {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
});
const startDate = new Date(edition.start_date);
const start = startFormat.format(startDate);
const end = endFormat.format(new Date(edition.end_date));
const year = startDate.getFullYear();
---
<style>
  #cd-days {
    color: #fff200;
  }
  #cd-hours {
    color: #ff8a00;
  }
  #cd-min {
    color: #00b9ff;
  }
  #cd-sec {
    color: #8dc63f;
  }
  .year {
    color: #8dc63f;
  }
  .dates {
    color: #ff8a00;
  }
  #countdown {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    & > b {
      font-weight: 700;
      font-size: 34px;
    }
  }
  .title {
    font-family: 'Luciole-Bold', sans-serif;
    font-weight: 700;
    font-size: 56px;
    text-transform: uppercase;
  }
  .dates {
    font-family: 'Luciole-Bold', sans-serif;
    font-weight: 700;

  }
  .countdown-box {
    width: fit-content;
    height: fit-content;
    margin-top: 2rem;
    margin-left: 10rem;
    padding: 2rem;
    background-color: #2e284199;
    & > * {
      color: white;
    }
    border-radius: 12px;
  }
</style>
<script>
const second = 1000;
const minute = second * 60;
const hour = minute * 60;
const day = hour * 24;
const daysElem = document.getElementById("cd-days");
const hoursElem = document.getElementById("cd-hours");
const minElem = document.getElementById("cd-min");
const secElem = document.getElementById("cd-sec");
const countdown = document.getElementById("countdown");
const deadline = new Date(countdown.dataset.date);

const timer = setInterval(() => {
  const distance = deadline - new Date().getTime();
  if (distance > 0) {
    daysElem.innerText = `${Math.floor(distance / day)}`;
    hoursElem.innerText = `${Math.floor((distance % day) / hour)}`;
    minElem.innerText = `${Math.floor((distance % hour) / minute)}`;
    secElem.innerText = `${Math.floor((distance % minute) / second)}`;
    countdown.hidden = false;
  } else {
    countdown.hidden = true;
    clearInterval(timer);
  }
}, 0);
</script>

<div class="full-bleed" style="background: url(/img/banner-blue.webp) top center no-repeat fixed; height: 400px">
  <div class="countdown-box">
    <div id="countdown" data-date={ edition.start_date }>
      <b id="cd-days"></b>
      <b id="cd-hours"></b>
      <b id="cd-min"></b>
      <b id="cd-sec"></b>
      <i>{days}</i>
      <i>{hours}</i>
      <i>{minutes}</i>
      <i>{seconds}</i>
    </div>
    <h2 class="title">Snowcamp <span class="year">{ year }</span></h2>
    <h3 class="date"><span class="dates">{ start } - { end }</span>, Grenoble</h3>
  </div>
</div>
